 body {
    
  
  

 }

 .container {
    width: 800px;
    padding: 10%;
   
}

.kvadratas {
    border-radius: 5px;
    
}   
    
.color1 {   
    background-color: #70C0C9; 
}
.color2 {   
    background-color: #4074BD; 
    
}
.color3 {   
    background-color: #E05E46; 
    
}
.color4 {   
    background-color: #919191;
   
}

.image {
    width: 100px;
    margin-left: 10%;
    margin-top: 15%;
    height: 100px;
    padding: 20px;
 
    
    
}

.column {
    width: 150px;
    height: 400px;
    display: inline-block;
   

}

.munber{

}

.header {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #E57567;
    font-family: Arial, Helvetica, sans-serif;
}

.prg {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #A3A3A3;
    font-family: Arial, Helvetica, sans-serif;

}

